<div class="playing-field-container">
  <!-- Top controls -->
  <div class="top-controls">
    <button
      class="home-button"
      (click)="onHomeClick()"
    >
      Home
    </button>
    <button
      class="undo-button"
      [disabled]="isUndoButtonDisabled()"
      (click)="onUndoClick()"
    >
      Undo
    </button>
  </div>

  <!-- Left side counters -->
  <div class="left-counters">
    <!-- Player 0 counter (top-left position) -->
    <div class="ps-score">
      <div
        class="ps-dot"
        [style]="{ 'background-color': players[0].color }"
      ></div>
      <span>{{ getPlayerScore(players[0]) }}</span>
    </div>

    <!-- Player 3 counter (bottom-left position) -->
    <div *ngIf="players.length > 3" class="ps-score">
      <div
        class="ps-dot"
        [style]="{ 'background-color': players[3].color }"
      ></div>
      <span>{{ getPlayerScore(players[3]) }}</span>
    </div>
  </div>

  <!-- Playing field -->
  <div
    class="playing-field"
    [style]="{ 'grid-template-columns': getTemplateColumns() }"
  >
    <div *ngFor="let row of grid; let i = index" class="row">
      <cell
        *ngFor="let cell of row; let j = index"
        [attr.data-x]="j"
        [attr.data-y]="i"
        (clicked)="onCellClick(i, j)"
        [cellState]="grid[i][j]"
        [backgroundClass]="backgroundClass(i, j)"
        [isSelected]="isCellSelected(i, j)"
      >
      </cell>
    </div>
  </div>

  <!-- Right side counters -->
  <div class="right-counters">
    <!-- Player 1 counter (top-right position) -->
    <div class="ps-score">
      <div
        class="ps-dot"
        [style]="{ 'background-color': players[1].color }"
      ></div>
      <span>{{ getPlayerScore(players[1]) }}</span>
    </div>

    <!-- Player 2 counter (bottom-right position) -->
    <div *ngIf="players.length > 2" class="ps-score">
      <div
        class="ps-dot"
        [style]="{ 'background-color': players[2].color }"
      ></div>
      <span>{{ getPlayerScore(players[2]) }}</span>
    </div>
  </div>
</div>
